.componentContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.pokemonSearch {
  justify-self: center;
  display: flex;
  flex-wrap: nowrap;
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsContainer {
  display: flex;
  justify-content: space-around;
  padding: 0 1.2rem;
  margin-top: 1rem;
}

.defaultImgClass {
  filter: none;
}

.imgCover {
  filter: brightness(0);
}
.imgContainer {
  display: flex;
  height: 7rem;
  width: 7rem;
  justify-self: center;
  object-fit: contain;
}

.defaultImgClass,
.imgCover {
  display: flex;
  justify-self: center;
  object-fit: contain;
}

.greenBK {
  background-color: rgb(91, 147, 91);
}
.redBK {
  background-color: rgb(167, 85, 85);
}
.normalBK {
  background-color: #5594a3;
}

.greenBK,
.redBK,
.normalBK {
  width: 20rem;
  height: 15rem;
  border: 2px solid white;
  border-radius: 1rem;
}
